# Organização da base de dados (Ativo - Empresa)

#### Importando a biblioteca utilizada

In [27]:
import pandas as pd

#### Bases de dados

In [28]:
empresas = pd.read_csv('empresas_bolsa.csv')
ativos = pd.read_csv('ativos.csv')

#### DataFrame das Empresas: nome, código na bolsa (4 letras), categoria

In [29]:
empresas

                                nome cod_bolsa          categoria
0    Investo ETF Global Agribusiness      FOOD   Bens Industriais
1                              Aeris      AERI   Bens Industriais
2                              Aeris      AERI   Bens Industriais
3                        Intercement      ICBR   Bens Industriais
4                               Dotz      DOTZ   Bens Industriais
..                               ...       ...                ...
418                          Renaova      RNEW  Utilidade Pública
419                 Ger Paranapanema      GEPA  Utilidade Pública
420                             CESP      CESP  Utilidade Pública
421                            Cemig      CMIG  Utilidade Pública
422                       Afluente T      AFLT  Utilidade Pública

[423 rows x 3 columns]

#### DataFrame dos ativos (Não organizados)

In [30]:
ativos

       col1    col2    col3   col4 col5 col6
0    FOOD11     NaN     NaN    NaN  NaN  NaN
1    AERI3F     NaN     NaN    NaN  NaN  NaN
2     AERI3     NaN     NaN    NaN  NaN  NaN
3     ICBR3     NaN     NaN    NaN  NaN  NaN
4    DOTZ3F     NaN     NaN    NaN  NaN  NaN
..      ...     ...     ...    ...  ...  ...
418  RNEW11     NaN     NaN    NaN  NaN  NaN
419   GEPA4   GEPA3     NaN    NaN  NaN  NaN
420   CESP6   CESP5  CESP3F  CESP3  NaN  NaN
421   CMIG4  CMIG3F   CMIG3    NaN  NaN  NaN
422   AFLT3     NaN     NaN    NaN  NaN  NaN

[423 rows x 6 columns]

#### Organizando os ativos em uma única de um DataFrame

In [31]:
ativos_separados = pd.DataFrame(columns=['codigo'])

for i in range(423):
    for j in range(6):
        cod_ativo = ativos.iloc[i,j]
        if not(pd.isna(cod_ativo)):
            ativos_separados.loc[len(ativos_separados.index)] = cod_ativo

ativos_separados

     codigo
0    FOOD11
1    AERI3F
2     AERI3
3     ICBR3
4    DOTZ3F
..      ...
681   CESP3
682   CMIG4
683  CMIG3F
684   CMIG3
685   AFLT3

[686 rows x 1 columns]

#### Salvando as novas bases de dados

In [32]:
import os
os.mkdir('base_final')
ativos_separados.to_csv('base_final/ativos.csv')

In [33]:
empresas.drop(columns=['categoria'], inplace=True)
empresas.drop_duplicates(ignore_index=True, inplace=True)
empresas.to_csv('base_final/empresas_codigo.csv')